In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\gcabr\anaconda3\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\gcabr\anaconda3\lib\site-packages (from mysql-connector-python) (3.15.1)
Requirement already satisfied: six>=1.9 in c:\users\gcabr\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', passwd='xxxxxxxxx')

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000228A4977748>

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute("USE banco_basico")

* Mostrando as colunas

In [6]:
mycursor.execute("""SHOW COLUMNS FROM base;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('X', b'int', 'YES', '', None, '')
('Y', b'text', 'YES', '', None, '')
('Z', b'text', 'YES', '', None, '')

* Visão inicial dos dados

In [7]:
mycursor.execute("SELECT * FROM base LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(8, 'A', '39_115')
(20, 'B', '26_105')
(29, 'C', '82_152')
(36, 'D', '71_137')
(37, 'E', '59_112')

* Selecionando entre valores (between) e elemento em lista

In [8]:
mycursor.execute("""Select * from base
where X between 50 AND 1000 AND
Y in ("A","C")
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(53, 'C', '50_142')
(76, 'A', '65_168')
(82, 'C', '23_116')
(110, 'A', '34_129')
(118, 'C', '5_149')
(129, 'A', '59_167')
(135, 'C', '100_119')
(184, 'A', '77_110')
(198, 'C', '1_105')

* Selecionando por elemento extraido por substring

In [10]:
mycursor.execute("""Select *
from base
where substring(Z,4,3) = '149'
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(119, 'D', '79_149')

* Selecionando transformando substring em inteiro

In [11]:
mycursor.execute("""Select *
from base
where X between 100 AND 150
AND cast(substring(Z,4,3) as unsigned integer) > 120;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(102, 'E', '85_186')
(104, 'F', '12_194')
(106, 'G', '49_160')
(110, 'A', '34_129')
(111, 'B', '97_148')
(119, 'D', '79_149')
(120, 'E', '56_127')
(121, 'F', '91_160')
(129, 'A', '59_167')
(146, 'D', '71_176')
(147, 'E', '61_132')

* Selecionando um campo excluindo os espaços brancos antes e depois dos caracteres (trim)

In [14]:
mycursor.execute("""Select *
from base
where trim(Y) = "B";
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(20, 'B', '26_105')
(52, 'B', '42_133')
(78, 'B', '4_128')
(111, 'B', '97_148')
(134, 'B', '58_105')
(197, 'B', '81_161')

* Selecionando com base no campo acrescentando zeros a esquerda (lpad)

In [20]:
mycursor.execute("""Select *
from base
where lpad(X,2,"0") = "08";
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(8, 'A', '39_115')

* Selecionando com base em campos concatenados

In [23]:
mycursor.execute("""Select *
from base
where concat(X,"_",Y) = "20_B";
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(20, 'B', '26_105')