In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\gcabr\anaconda3\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\gcabr\anaconda3\lib\site-packages (from mysql-connector-python) (3.15.1)
Requirement already satisfied: six>=1.9 in c:\users\gcabr\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', passwd='xxx')

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("USE banco_basico")

* Usaremos as 03 tabelas a seguir com as seguintes colunas e seus tipos

In [5]:
mycursor.execute("""SHOW COLUMNS FROM merge_1_a;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('X', b'text', 'YES', '', None, '')
('Y', b'int', 'YES', '', None, '')
('Z', b'int', 'YES', '', None, '')

In [6]:
mycursor.execute("""SHOW COLUMNS FROM merge_1_b;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('X', b'text', 'YES', '', None, '')
('Y', b'int', 'YES', '', None, '')
('Z', b'int', 'YES', '', None, '')

In [7]:
mycursor.execute("""SHOW COLUMNS FROM merge_2;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('X', b'text', 'YES', '', None, '')
('A', b'text', 'YES', '', None, '')

* Selecionado com base em uma tabela gerada pelo Union All
    * Pode-se colocar condições em cada uma das tabelas do Union

In [11]:
mycursor.execute("""Select X, avg(Y) as media, max(Z) as maximo from
(Select * from merge_1_a
UNION ALL
Select * from merge_1_b) as A
group by X;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('A', Decimal('106.0000'), 929)
('B', Decimal('123.6000'), 985)
('C', Decimal('123.6250'), 979)
('D', Decimal('87.6250'), 871)
('E', Decimal('69.6667'), 920)
('F', Decimal('84.3333'), 912)

* Gerando uma tabela diretamente através do Union All de duas tabelas

In [12]:
mycursor.execute("""Select X, avg(Y) as media, 'parte_1' as parte from merge_1_a group by X
UNION ALL
Select X, avg(Y) as media, 'parte_2' as parte from merge_1_b group by X;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('A', Decimal('149.0000'), 'parte_1')
('B', Decimal('198.0000'), 'parte_1')
('C', Decimal('173.7500'), 'parte_1')
('D', Decimal('132.0000'), 'parte_1')
('E', Decimal('101.0000'), 'parte_1')
('F', Decimal('116.6667'), 'parte_1')
('A', Decimal('63.0000'), 'parte_2')
('B', Decimal('49.2000'), 'parte_2')
('C', Decimal('73.5000'), 'parte_2')
('D', Decimal('43.2500'), 'parte_2')
('E', Decimal('38.3333'), 'parte_2')
('F', Decimal('52.0000'), 'parte_2')

* Selecionando com base em left join
    * Pode-se incluir condições em cada base do left join

In [21]:
mycursor.execute("""Select TB2.A, avg(TB1.Y) as media
from (select * from merge_1_a) as TB1 
left join (select * from merge_2) as TB2
ON TB1.X = TB2.X
group by TB2.A;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('Blue', Decimal('149.0000'))
('Red', Decimal('198.0000'))
('Yellow', Decimal('173.7500'))
('Brown', Decimal('132.0000'))
('Orange', Decimal('101.0000'))
(None, Decimal('116.6667'))

* Selecionando com combinação entre Union All e Left Join

In [22]:
mycursor.execute("""Select TB2.X , TB2.media, TB3.A
from (Select X, avg(Y) as media from
        (Select * from merge_1_a
        UNION ALL
        Select * from merge_1_b) as TB1 group by X) as TB2
left join 
(select * from merge_2) as TB3
on TB2.X = TB3.X;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('A', Decimal('106.0000'), 'Blue')
('B', Decimal('123.6000'), 'Red')
('C', Decimal('123.6250'), 'Yellow')
('D', Decimal('87.6250'), 'Brown')
('E', Decimal('69.6667'), 'Orange')
('F', Decimal('84.3333'), None)