In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\gcabr\anaconda3\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\gcabr\anaconda3\lib\site-packages (from mysql-connector-python) (3.15.1)
Requirement already satisfied: six>=1.9 in c:\users\gcabr\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', passwd='xxxxxxxxx')

In [3]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute("USE banco_testes")

* Mostrando as colunas

In [7]:
mycursor.execute("""SHOW COLUMNS FROM base_sql;
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('VAR1', b'text', 'YES', '', None, '')
('VAR2', b'text', 'YES', '', None, '')
('VAR3', b'int', 'YES', '', None, '')
('VAR4', b'int', 'YES', '', None, '')

* Visão inicial dos dados

In [8]:
mycursor.execute("SELECT * FROM base_sql LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('A', 'X1', 8, 433)
('B', 'X1', 31, 214)
('C', 'X1', 72, 474)
('D', 'X1', 5, 428)
('E', 'X2', 76, 396)

* Transformando as variáveis quantativas em uma coluna única, com outra coluna com as labels das variáveis

In [16]:
mycursor.execute("""Create table pivot_teste as
Select VAR1, VAR2,'VAR3' as VAR_NOVA, VAR3 as qttd from base_sql
union all
Select VAR1, VAR2,'VAR4' as VAR_NOVA, VAR4 as qttd from base_sql;
""")

* Criou-se a VAR_NOVA, que contém as labels das variáveis quantitativas (VAR3 e VAR4) e a variável qttd, com os valores quantitativos

In [13]:
mycursor.execute("""Select * from pivot_teste
""")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('A', 'X1', 'VAR3', 8)
('B', 'X1', 'VAR3', 31)
('C', 'X1', 'VAR3', 72)
('D', 'X1', 'VAR3', 5)
('E', 'X2', 'VAR3', 76)
('F', 'X2', 'VAR3', 88)
('G', 'X2', 'VAR3', 99)
('H', 'X2', 'VAR3', 94)
('A', 'X1', 'VAR4', 433)
('B', 'X1', 'VAR4', 214)
('C', 'X1', 'VAR4', 474)
('D', 'X1', 'VAR4', 428)
('E', 'X2', 'VAR4', 396)
('F', 'X2', 'VAR4', 295)
('G', 'X2', 'VAR4', 367)
('H', 'X2', 'VAR4', 463)